<mat-card>
  <mat-card-title>
    Searching 
  </mat-card-title>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field style="margin-left:30px">
      <mat-label>Year</mat-label>
      <input matInput formControlName="year">
    </mat-form-field>
    <mat-form-field style="margin-left:30px">
      <mat-select formControlName="plot">
        <mat-option value="short">
          short
        </mat-option>
        <mat-option value="full">
          full
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left:30px" (click)="search()">
      <mat-icon>
        search
      </mat-icon>Search
    </button>
  </form>

  <div *ngIf="movie">
    {{movie?.Title + ',' + movie?.Year}}
    <button 
      mat-icon-button 
      [color]="isIncludeInStorage()? 'warn': ''" 
      [title]="!isIncludeInStorage()? 'Add to my list': 'In list already'"
      (click)="addToList()"
    >
      <mat-icon aria-label="Add to my list" >favorite</mat-icon>
    </button>
  </div>
  <span style="color:red">{{error}}</span>
</mat-card>
